<!DOCTYPE html>
<html>
  <head>
    <title>Papua Diving Resort Power Usage Monitor</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body id="content">
    <%= render 'home/shared/navbar'%>
    <div id="wrapper">
      <%= render 'home/shared/sidebar' %>
      <div id="page-content-wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
